*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Roboto';
}

button::-moz-focus-inner {
  border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	background-color: #181818;
  overflow: hidden;
}




.iconLink {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cdefs/%3E%3Cpath fill='%2329B6F6' d='M21 13v10H0V4h12v2H2v15h17v-8h2zm3-12H13l4 4-7 7 3 3 7-7 4 4V1z'/%3E%3C/svg%3E");
}




#mapPanel {
	width: 100%;
	float: unset;
	padding: 0;
	height: 67.1vw;
}

#mapPanel #map {
	height: 62.10vw;
  box-shadow: unset;
}

#mapPanel #map > span {
  line-height: 62.1vw;
  font-size: 0.8rem;
}




#controls {
	max-width: 95%;
	font-size: 0.8rem;
}

#controls .list {
	padding: 0.25rem 0 1.85rem 0;
}

#controls .item {
	font-size: 0.7rem;
}

#controlsCountry span {
	max-width: 9rem;
	font-size: 0.8rem;
}




#goToFull {
	position: absolute;
	top: -2rem;
	right: 1rem;
	background-color: rgb(50, 50, 50);
	color: rgb(255, 255, 255);
	line-height: 2;
	border-radius: 0.25rem;
	text-align: center;
	z-index: 501;
	cursor: pointer;
	background-size: 0.8rem;
	background-repeat: no-repeat;
	background-position: 0.3rem;
	padding: 0 1rem 0 1.9rem;
	box-shadow: 0 0 5px 0px rgb(0, 0, 0);
	text-decoration: none;
	font-size: 0.8rem;
	transition: top 0.3s ease 0s;
}

body:hover #goToFull {
  top: 1rem;
}




div.google-visualization-tooltip {
  font-size: 0.6rem;
  width: 33%;
  max-width: 33%;
}

div.google-visualization-tooltip *{
  font-size: 0.8rem;
}
